* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Lato;
  background-color: #ffffff; }

.header {
  background-image: url("../img/bg_header.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: relative; }
  .header h1 {
    font-size: 45pt;
    letter-spacing: 5px;
    margin-top: 96px;
    margin-bottom: 53px; }
  .header h2 {
    font-size: 12pt;
    font-family: Lato;
    font-weight: normal;
    line-height: 1.5; }
  .header .scroll {
    position: absolute;
    bottom: 115px; }

.about {
  color: #3c3c3c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 160px 0; }
  .about fieldset {
    width: 902px;
    height: 312px;
    position: relative;
    border: 2px solid #3c3c3c;
    border-radius: 3px; }
  .about legend {
    padding: 0 70px;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 5px;
    color: #3c3c3c; }
  .about .text {
    line-height: 2;
    font-size: 11pt;
    width: 553px;
    height: 206px;
    position: absolute;
    left: 178px;
    top: 95px;
    right: 171px;
    bottom: 29px; }
    .about .text .first_text {
      padding-bottom: 25px; }

.services {
  background-image: url("../img/bg_main.png");
  background-position: center;
  width: 1920px;
  height: 488px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0; }
  .services fieldset {
    width: 902px;
    height: 312px;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 3px; }
  .services legend {
    padding: 0 70px;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ffffff; }
  .services .text {
    line-height: 2;
    font-size: 11pt;
    width: 553px;
    height: 206px;
    position: absolute;
    left: 178px;
    top: 110px;
    right: 171px;
    bottom: 29px;
    color: #ffffff; }
    .services .text .first_text {
      padding-bottom: 25px; }

.what_we_do {
  color: #3c3c3c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .what_we_do fieldset {
    width: 902px;
    height: 1182px;
    position: relative;
    border: 2px solid #3c3c3c;
    border-radius: 3px;
    position: relative; }
    .what_we_do fieldset legend {
      padding: 0 70px;
      font-size: 25pt;
      font-weight: bold;
      letter-spacing: 5px;
      color: #3c3c3c; }
    .what_we_do fieldset .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column; }
      .what_we_do fieldset .content .block {
        margin: 45px 0;
        letter-spacing: 1px;
        line-height: 2; }
        .what_we_do fieldset .content .block h1 {
          text-transform: uppercase;
          margin: 30px 0; }
        .what_we_do fieldset .content .block p {
          width: 550px;
          height: 89px;
          font-size: 8pt; }
