* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  background-color: #ffffff;
}

.header {
  background-image: url("../img/bg_header.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  position: relative;

  & h1 {
    font-size: 45pt;
    letter-spacing: 5px;
    margin-top: 96px;
    margin-bottom: 53px;

  }

  & h2 {
    font-size: 12pt;
    font-family: Lato;
    font-weight: normal;
    line-height: 1.5;

  }

  .scroll {
    position: absolute;
    bottom: 115px;
  }


}

.about {
  color: rgba(60, 60, 60, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 160px 0;

  fieldset {
    width: 902px;
    height: 312px;
    position: relative;
    border: 2px solid #3c3c3c;
    border-radius: 3px;
  }

  legend {
    padding: 0 70px;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 5px;
    color: #3c3c3c;
  }

  .text {
    line-height: 2;
    font-size: 11pt;
    width: 553px;
    height: 206px;
    position: absolute;
    left: 178px;
    top: 95px;
    right: 171px;
    bottom: 29px;

    .first_text {
      padding-bottom: 25px;
    }
  }
}

.services {
  background-image: url("../img/bg_main.png");
  background-position: center;
  width: 100%;
  height: 488px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;

  fieldset {
    width: 902px;
    height: 312px;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 3px;

  }

  legend {
    padding: 0 70px;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ffffff;

  }

  .text {
    line-height: 2;
    font-size: 11pt;
    width: 553px;
    height: 206px;
    position: absolute;
    left: 178px;
    top: 110px;
    right: 171px;
    bottom: 29px;
    color: #ffffff;

    .first_text {
      padding-bottom: 25px;
    }
  }

}

.what_we_do {
  color: rgba(60, 60, 60, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;

  fieldset {
    width: 902px;
    height: 1182px;
    position: relative;
    border: 2px solid #3c3c3c;;
    border-radius: 3px;
    position: relative;

    legend {
      padding: 0 70px;
      font-size: 25pt;
      font-weight: bold;
      letter-spacing: 5px;
      color: #3c3c3c;
    }

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      .block {
        margin: 45px 0;
        letter-spacing: 1px;
        line-height: 2;

        & h1 {

          text-transform: uppercase;
          margin: 30px 0;
        }

        & p {
          width: 550px;
          height: 89px;
          font-size: 8pt;

        }
      }
    }


  }

}

.pictures {
  width: 100%;
  display: flex;
  flex-direction: column;

  .line_img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    .test {
      display: inline-block;
      position: relative;
      overflow: hidden;

      & img {
        padding-bottom: 5px;
        overflow: hidden;
      }

      .central_img {
        margin: 0 7px;

      }

      span {
        display: inline-block;
        position: absolute;
        bottom: 36px;
        left: 25px;
        font-size: 25pt;
        color: #ffffff;
        text-transform: uppercase;

      }
    }
  }

}

.footer {
  color: rgba(60, 60, 60, 255);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 160px 0;

  fieldset {
    width: 902px;
    height: 312px;
    position: relative;
    border: 2px solid #3c3c3c;
    border-radius: 3px;
  }

  legend {
    text-transform: uppercase;
    padding: 0 70px;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 5px;
    color: #3c3c3c;
  }

  & p {
    line-height: 2;
    font-size: 11pt;
    width: 553px;
    height: 206px;
    position: absolute;
    left: 178px;
    top: 95px;
    right: 171px;
    bottom: 29px;
  }
  .button{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size:12pt ;
    letter-spacing: 2px;
    border:none;
    width: 395px; height: 58px;
    background-color: #3c3c3c;
    position:absolute;
    bottom: 45px;
    left: 260px;
  }
.dno{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  bottom: -78px;
  .pic{
    margin-right: 40px;
  }
  & span{
    font-size: 10pt;
  }

}

}